/* styles.css */

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
    color: #2c3e50;
  }
  
  
  /* Table Styles */
  #table-student {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #2980b9;
    color: white;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Button Styles */
  button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c0392b;
  }
  